* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    margin: 20px;
}

.container-calculator {
    background-color: blueviolet;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    border: 5px solid black;
    max-width: 500px;
    min-height: 530px;
    box-shadow: 10px 5px 5px black;
}
.header-calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    height: 80px 
}
.content {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
}
p {
    margin-right: 5px;
    font-size:40px;
}